#contanier{
    height: 300px;
    width: 500px;
    background-color: rgba(204, 192, 255, 0.795);
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
#contanier div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 2px;
}