p{
    color: red;
    line-height: 30px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    color: black;
    }
h4{
    text-align: center;
}
body{
    font-family: Georgia;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
span{
    text-decoration: underline;
}
textarea{
    color: black;
}
