#top{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(222, 146, 52);
}
#ad{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 20px 0px 20px 0px;
    font-weight: 900;
}
#ad span{
    color: rgb(222, 146, 52);
}

/**/

#contanier{
    display: flex;
    justify-content: space-evenly;
}
.card{
  width: 350px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}
img{
    width: 100%;
    border-radius: 20px;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
@media (min-width:0px) and (max-width:500px){
    
    h3{
        background-color: aqua;
    }
    #contanier{
        flex-wrap: wrap;
    }
}