#contanier{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
    font-size: 14px;
}
div div{
    
    background-color: pink;
}
#one{
    grid-row-end: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 13;
}
#two{
    grid-row-end: 12;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
#three{
    
    grid-column-start: 4;
    grid-column-end: 10;
}
#four{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-end: 12;
    grid-row-start: 2;
}
#five{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-end: 12;
    grid-row-start: 3;
}
#six{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-end: 12;
    grid-row-start: 12;
}

@media (min-width:0px) and (max-width:720px){
    #one{
        grid-column: 1/span 12;
        grid-row: 1/span 1;
    }
    #two{
        grid-row: 2/span 1;
        grid-column: 1/span 12;
    }
    #three{
        grid-row: 3/span 9;
        grid-column: 1/span 3;
    }
    #four{
        grid-row: 12/span 1;
        grid-column: 1/span 3;
    }
    #five{
        grid-row: 3/span 9;
        grid-column: 4/span 9;
    }
    #six{
        grid-row: 12/span 1;
        grid-column: 4/span 9;
    }
    
}