#gridcontanier{
    height: 300px;
    width: 600px;
    background-color: aqua;
    border-radius: 2px;
    border: 2px solid red;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px 20px;
}
div .blocks{
    background-color: blueviolet;
    border: 2px solid red;
}
#iddd{
    /*grid-column-start: 1;
    grid-column-end: 3;
    */
    grid-column: 1/span 4;
}