span > button:hover{
    background-color: black;
    color: red;
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
}
span >button:active{
    background-color: wheat;
}
h3 {
    height: 100px;    
    border: 10px solid black;
    width: 500px;
    border-radius: 100%;
}