div{
    height: 100px;
    width: 100px;
    background-color: red;
    color: black;
    border: 2px solid black;
    margin: 25px;
}
#static{
    position: static;
    top: 100px;
    left: 100px;
}
#relative{
    position: relative;
    top: 100px;
    left: 100px;
}
#absolute{
    position: absolute;
    top: 100px;
    left: 100px;
}
#fixed{
    position: fixed;
    top: 400px;
    left: 400px;
}