div{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blanchedalmond;
    margin: 30px auto;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding: 2px
}
div:nth-of-type(2n){
    background-color: yellowgreen;
}
div:nth-of-type(3n){
    background-color: aqua;
}
#box1{
    transform: rotate(45deg);
}
#box2{
    /*transform: scale(0.5);*/
    /*transform: scale(0.5,2);*/
    transform: scaleX(2);
    /*transform: scaleY(2);*/
}
#box3{
    transform: translate(100px,-100px);
    /*transform: translateX(100px);*/
    /*transform: translateY(-100px);*/
}
#box4{
    transform: skew(30deg);
}
#box5{
    box-shadow: 20px 20px 10px green;
    height: 200px;
    width: 400px;
    border: none;
}
span{
    padding: 20px;
}
#outter{
    height: 100px;
    width: 200px;
    background-color: aqua;
}
#inner{
    text-align: center;
    margin-top: 20px;
    
}