*{
        padding: 0;
        margin: 0;
}

#sidenavigationbar{
        background: url("photo.jpg");
        height: 100vh;
        background-size: cover;
}
#btn_menu{
color: white;
position: absolute;
padding-left: 20px;
padding-top: 20px;         
font-size: 30px;
}